/* Alapvető formázás */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

main {
    padding: 20px;
}

/* Naptár */
#calendar {
    margin-bottom: 20px;
}

/* Beállítások */
#settings {
    margin-bottom: 20px;
}

/* Gombok */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Fizetés kiszámítása eredménye */
#payment-result {
    font-weight: bold;
    font-size: 1.2em;
}
