/* Alapvető formázás */
body{
   background-color: #BF40BF;
   padding: 0px;
   margin: 0px;
 }

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

main {
    padding: 20px;
}

/* Naptár */
#calendar {
    margin-bottom: 20px;
}

/* Beállítások */
#settings {
    margin-bottom: 20px;
}

/* Gombok */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Fizetés kiszámítása eredménye */
#payment-result {
    font-weight: bold;
    font-size: 1.2em;
}
